.password-button{
    background-color:#7e41ff ;
    border-radius: 20px;
    border-color: #7e41ff;
    width: 30%;
    margin-right: 35%;
    margin-left: 35%;
}

.form {
    border-color: #7e41ff;
}

.title{
    text-align: center;
    color: #7e41ff;
}