.card{
  margin-left: auto;
  margin-right: auto;
  margin-top: 20vh;
}

.card-title{
  color: #7e41ff;
  text-align: center;
  font-size: 30px;
}

.mb-2{
  color: #7e41ff;
  text-align: center;
}

.form-text{
  margin-top: 20px;
  border-radius: 20px;
  margin-right: 15%;
  margin-left: 15%;
  width: 70%;
  background-color: lightgrey;
}

.form-password{
  margin-top: 20px;
  border-radius: 20px;
  margin-right: 15%;
  margin-left: 15%;
  width: 70%;
  background-color: lightgrey;
}

.button {
  background-color:#7e41ff ;
  margin-right: 30%;
  margin-left: 30%;
  width: 40%;
  border-radius: 20px;
  border-color: #7e41ff;
}

.card-body{
  margin-top: 40px;
}

.linkToLogin{
  margin-top: 1vh;
 text-align: center;
  display: block;
  font-size: 0.7em;
  color: #7e41ff;
}